# Dépendances
node_modules/
.pnp
.pnp.js

# Environnement (TRÈS IMPORTANT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist/
build/

# Logs et divers
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store